/* -- General Style -- */
#imHeader, #imFooter {position: relative; }
#imHeader div, #imFooter div {cursor: pointer; background: center no-repeat}
body {font-size: 8px; vertical-align: baseline; }
p {margin: 0; padding: 0; } 
.fb {font-weight: bold; } .fi {font-style: italic; } .fu {text-decoration: underline; } 
ul.imBullet {margin: 0 0 0 20px; padding: 0; text-align: left; } ul.imBullet li {vertical-align: middle; }
.imTD {padding: 3px; line-height: 16px; }
.imInput_0 {width: 95%}
.imInput_1 {width: 65%}
.imInput_2 {width: 45%}
.imInput_3 {width: 25%}
.imInput_4 {width: 10%}
.imCRNoPrev {background: #FFFFFF url('imcartprev.gif') no-repeat center; border: 1px solid #AAAAAA; text-align: center; overflow: hidden; font: 8pt Tahoma; }
form, fieldset {margin: 0; padding: 0; border: none; }
fieldset legend {visibility: hidden; }
.imAlign_left {text-align: left; }
.imAlign_center {text-align: center; }
.imAlign_right {text-align: right; }
.imAlign_justify {text-align: justify; }
img.imImage {border: 0px; vertical-align: baseline; }
.imInvisible, h1 {position: absolute; top: -10000px; left: -10000px; }
.imHidden {display: none; }
.imClear {clear: left; }
.imError {padding: 5px; margin: 10px; border: 1px solid #000000; background-color: #FFFFFF; font: 11px Tahoma; text-align: center; line-height: 16pt; overflow: hidden; }
#imWebSiteX5Adv {position: absolute; top: 0; right: 0; z-index: 1500; overflow: hidden; }
#imWebSiteX5AdvObj {position: relative; }
#imToolTip {position:absolute; z-index: 1001; }
#imShowBoxBG {position: fixed; z-index: 2000; top: 0; left: 0; width: 100%; height: 100%; background-color: #000000; opacity: 0; filter: alpha(opacity=0); }
#imShowBoxContainer {position: absolute; z-index: 2001; top: 0; left: 0; width: 100%; font: 8pt Tahoma; color: #000000; }
#imShowBox {position: relative; margin: 0 auto; padding: 10px; background: #FFFFFF url('imloading.gif') no-repeat center center; border: 1px solid #000000; overflow: hidden; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#imShowBoxContent {opacity: 0; filter: alpha(opacity=0); }
#imShowBoxDescription {padding: 8px 5px 0 5px; }
#imLockTxt {margin-left: 10px; font: 11px Tahoma; color: #000000; min-height: 300px; height: auto !important; height: 300px; }
#imLockForm {margin: 5px auto; text-align: left; padding: 5px; width: 200px; }
#imLockAlert {background-color: red; color: white; padding: 0 5px 0 5px; }
.imLockLabel {display: block; margin-top: 6px; }
.imLockBtn {font: 11px Tahoma; color: #000000; background-color: #C0C0C0; border: 1px solid #222222; margin: 5px; }
.imLockFld {font: 11px Tahoma; color: #000000; background-color: #FFFFFF; border: 1px solid #222222; margin: 4px 0; vertical-align: middle; }

/* -- Menu Main Settings -- */
#imMnMn {padding-top: 8px; }
#imMnMn ul, #imMnMn ul li {margin: 0; padding: 0; list-style: none; z-index: 1000; cursor: pointer; text-align: left; }
#imMnMn ul li {position: relative; float: left; margin-right: -0px; padding-right: 0px; }
#imMnMn ul a {display: block; text-decoration: none; padding: 3px 3px 3px 3px; height: auto !important; height: 1%; width: 114px; font: 11px Tahoma; color: #000000; float: none !important; float: left; }

/* -- Menu Main Hover Settings -- */
#imMnMn ul a:hover, #imMnMn ul li:hover a, #imMnMn ul li.iehover a {background-color: #237BC2; color: #FFFFFF; }

/* -- Menu Main Images -- */
span.imMnLv {display: block; width: 98%; background: url('imiconmenu.gif') no-repeat center right; }

/* -- Menu Level -- */
#imMnMn ul ul {display: none; position: absolute; top: 19px; left: 0px; }
#imMnMn ul ul ul {top: 0; left: 119px;}
#imMnMn ul ul li {float: left !important; float: none; display: block !important; display: inline; }
#imMnMn ul li:hover li a, #imMnMn ul li.iehover li a, #imMnMn ul li:hover li:hover li a, #imMnMn ul li.iehover li.iehover li a, #imMnMn ul li:hover li:hover li:hover li a, #imMnMn ul li.iehover li.iehover li.iehover li a {padding: 3px 3px 3px 6px; height: auto !important; height: 1%; font: 11px Tahoma; background-color: #FFFFFF; background-image: url(''); color: #000000; border: 1px solid #000000; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85); opacity: 0.85; width: 109px; float: left !important; float: none; margin-bottom: 0 !important; margin-bottom: -1px; text-align: left; }
#imMnMn ul li li {padding-bottom: 0; margin-bottom: -1px; }
#imMnMn ul li:hover li a:hover, #imMnMn ul li:hover li:hover a, #imMnMn ul li.iehover li a:hover, #imMnMn ul li.iehover li.iehover a, #imMnMn ul li:hover li:hover li a:hover, #imMnMn ul li:hover li:hover li:hover a, #imMnMn ul li.iehover li.iehover li a:hover, #imMnMn ul li.iehover li.iehover li.iehover a, #imMnMn ul li:hover li:hover li:hover li a:hover, #imMnMn ul li.iehover li.iehover li.iehover li a:hover {background-color: #000000; background-image: url(''); color: #FFFFFF; }
#imMnMn ul li:hover ul ul, #imMnMn ul li:hover ul ul ul, #imMnMn ul li.iehover ul ul, #imMnMn ul li.iehover ul ul ul {display: none;}
#imMnMn ul li:hover ul, #imMnMn ul ul li:hover ul, #imMnMn ul ul ul li:hover ul, #imMnMn ul li.iehover ul, #imMnMn ul ul li.iehover ul, #imMnMn ul ul ul li.iehover ul {display: block;}

/* -- Menu Sub -- */
#imPageSub {float: right; width: 842px; background: url('imsubmnuline.gif') repeat-y 2px; }
#imMenuSub {float: left; width: 116px; margin-left: 0px;}
#imMenuSub ul {list-style: none; margin: 0; padding: 0; border: none; }
#imMenuSub li.imMenuSubCur, #imMenuSub ul a {height: auto !important; height: 0%; padding: 4px 3px 4px 5px; font: 11px Tahoma; color: #000000; border-bottom: 1px solid #C0C0C0; }
#imMenuSub li.imMenuSubCur {font-weight: bold; }
#imMenuSub ul a:link, #imMenuSub ul a:active, #imMenuSub ul a:visited {display: block; text-decoration: none; }
#imMenuSub ul a:hover, #imMenuSub ul a:focus, #imMenuSub ul a.selected {background-color: #000000; color: #FFFFFF; }
#imMenuSub ul ul a {margin-left: 5px; }
#imMenuSub ul ul a {padding: 4px 3px 4px 5px; font: italic 11px Tahoma; color: #000000; background: transparent none; border-bottom: 0px solid #C0C0C0; }
#imMenuSub ul ul a:hover, #imMenuSub ul ul a:focus {background-color: #000000; color: #FFFFFF; }

/* -- Texts Style -- */
h2 {margin: 0px 6px 4px 10px; padding: 2px 0 2px 0; font: bold 16px Tahoma; color: #000000; text-align: left; }
#imPathTitle {margin: 0px 6px 8px 10px; padding: 2px 0 2px 0; font: 9px Tahoma; color: #808080; text-align: left; }
.imDefText {padding: 2px 0 2px 0; font: 13px Tahoma; color: #000000; text-align: left; }
.fc0 {color: #000000; }
#imFooterSiteMap {margin: 8px 6px 0px 10px; padding: 2px 0 2px 0; font: 11px Tahoma; color: #000000; background-color: #E0E0E0; text-align: center; border-top: 1px solid #000000; border-bottom: 1px solid #000000; }
#imFooterSiteMap a:link, #imFooterSiteMap a:active, #imFooterSiteMap a:visited, #imFooterSiteMap a:hover {color: #000000; text-decoration: none; }
#imFooterSiteMap a:hover {color: #000000; text-decoration: underline; }

/* -- Search Page Style -- */
#imSBox {font: 13px Tahoma; color: #000000; text-align: center;}
#imSBox input {font: 13px Tahoma;  color: #000000}
#imSButton {background-color: #E0E0E0; border: 1px #000000 solid}
#imSText {font: 13px Tahoma; color: #000000; text-align: left; margin: 0 10px 10px 10px;}
#imSPageTitle {position: absolute; left: 3px; margin-left: 6px;}
.imSCount {font-size: 80%}
.imSTitle {font-size: 120%; margin-bottom: 4px;}
.imSTitle a {color: #0000FF; }
.imSLink {margin: 2px 0 16px 0;}
.imSLink a {color: #C000C0; text-decoration: none; }
.imSLink a:hover {text-decoration: underline; }
.imSLabel {position: relative; font: 13px Tahoma; color: #000000; padding: 4px 6px 4px 0; margin: 7px 0; background-color: #E0E0E0; text-align: right; border-top: 1px solid #000000; border-bottom: 1px solid #000000; }

/* -- Links Style -- */
a.ImLink  {text-decoration: none; }
a.ImLink:link {color: #0000FF; }
a.ImLink:visited {color: #C000C0; }
a.ImLink:hover {color: #80FFFF; background-color: #E0E0E0; text-decoration: underline; }
a.ImGlossary {text-decoration: none; border-bottom: 1px dashed; cursor: text; }
a.ImGlossary:hover {text-decoration: none; cursor: text; }

