body {margin: 0; padding: 0; background-image: url('bg.jpg'); }
#imSite {width: 992px; margin: 15px auto; text-align: left; }
#imHeader {height: 156px; }
#imBody {background-image: url('content.jpg'); background-repeat: repeat-y; background-position: left top; }
#imMenuMain {height: 36px; padding: 1px 1px 0 49px; background-image: url('menu.jpg'); background-repeat: no-repeat; background-position: left top; }
#imContent {clear: left; padding: 8px 16px 0 0; margin-left: 15px}
#imFooter {clear: both; height: 43px; background-image: url('bottom.jpg'); background-repeat: no-repeat; background-position: left top; }


